workflows/speech-to-text-with-assembly.json
{
  "name": "ai agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcript",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -820
      ],
      "id": "8d12d30b-f9d5-4658-b51b-c3fcc96a4a16",
      "name": "Webhook1",
      "webhookId": "6135b361-17ac-4689-86e0-819e20c10e01"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44bba929-86e4-44fc-97a3-f26b229ae859",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9107c14-fc36-417a-9776-51da3c31e78f"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        780,
        -1180
      ],
      "id": "68d9998d-a217-4482-bd4d-737b81166637",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "audio",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        -1000
      ],
      "id": "a4f3a6d1-14af-433d-b707-b42e9459662d",
      "name": "upload file",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vrOiO7YvesxtHRVJ",
          "name": "Assembly Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.upload_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -1240
      ],
      "id": "1dc9e32f-5331-4c2b-86e4-6dd84e454e95",
      "name": "Start transcription",
      "credentials": {
        "deepSeekApi": {
          "id": "cEvCJoz4RLm4kjZG",
          "name": "DeepSeek account"
        },
        "httpHeaderAuth": {
          "id": "vrOiO7YvesxtHRVJ",
          "name": "Assembly Credentials"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        340,
        -1100
      ],
      "id": "9c85e19d-dff6-4960-bb18-920703b25737",
      "name": "Wait 2 seconds",
      "webhookId": "59404d90-83b0-4c7e-ba7d-b580af4883a4"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        600,
        -900
      ],
      "id": "e3f55965-f7f0-4532-97c0-fe41efb3a241",
      "name": "retry 10 times"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -1180
      ],
      "id": "c2c349c8-47fa-4be3-a1b3-c6693a281273",
      "name": "Request trascription",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vrOiO7YvesxtHRVJ",
          "name": "Assembly Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        -1220
      ],
      "id": "6444d9c1-4772-49eb-8c34-6da9ef8a34f3",
      "name": "Retrive Transcription"
    },
    {
      "parameters": {
        "errorMessage": "No se pudo procesar el audio"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        840,
        -900
      ],
      "id": "3118bf84-1b0d-4db3-b916-c7b1f3b56e5f",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Retrive Transcription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "retry 10 times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload file": {
      "main": [
        [
          {
            "node": "Start transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start transcription": {
      "main": [
        [
          {
            "node": "Wait 2 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 seconds": {
      "main": [
        [
          {
            "node": "Request trascription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retry 10 times": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request trascription": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v0",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "M5s4CzI6hwYqSf01"
  },
  "versionId": "19565b68-144c-420a-ab8b-67e47fca576a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9954e060a424edeb1229c867e40f8a927a0a96554959649a66c4c5b1d778fd20"
  },
  "id": "M5s4CzI6hwYqSf01",
  "tags": []
}